<body>
    <div>  
        <form id="savetransaccion">
            <div>
                <label for="transaccionususuario">Usuario</label>
                <input id="transaccionususuario" placeholder="Usuario">
            </div>
            <br>
            <div>
                <label for="transaccionclave">Clave</label>
                <input id="transaccionclave" placeholder="Clave">
            </div>
            <br>
            <div>
                <button>Log in</button>
            </div>
        </form>
    </div>
</body>
