<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudios Primarios</h1> - <h3>(2010-2016)</h3>
            </li>
            <p>Curse toda la primaria en la Republica Indonesia Nº146</p>
        </ul>
        <ul>
            <li>
                <h1>Estudios Secundarios</h1> - <h3>(2017-2023)</h3>
            </li>
            <p>Actualmente me encuentro cursando el ultimo año (7mo año) en la institucion Islas Malvinas Nº11</p>
        </ul>
    </div>
</div>


