<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudios Primarios</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam impedit et consequuntur sunt expedita, magnam non quaerat itaque? Illo iste autem, beatae minima nulla blanditiis deleniti incidunt accusantium eos deserunt.</p>
        </ul>
        <ul>
            <li>
                <h1>Estudios Secundarios</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam impedit et consequuntur sunt expedita, magnam non quaerat itaque? Illo iste autem, beatae minima nulla blanditiis deleniti incidunt accusantium eos deserunt.</p>
        </ul>
    </div>
</div>


