<div class="row">
     <h1>Proyectos Realizados:</h1>
     <div class="contenedor">
         <div class="col-sm-12 col-md-7 col-lg-6 parte1">
           <h1>Ping pong Arduino</h1>
           <p>Este proyecto fue hecho con el fin de instalarlo en un colegio de niños con discapacidades,para que asi puedan jugar,practicar reflejos, y divertirse a la vez.El proyejcto es lo mas simple posible asi no tiene ningun tipo de dificultad para nadie.Obviamente lo que se ve en la imagen es solo la parte interior del juego,este proyecto fue presentado en la feria de ciencias de San Justo 2022 </p>
         </div>
         <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/Pingpong.jpg"class="img-fluid img-proyecto">
         </div>
     </div>
</div>
